
<table style="border-style: solid; border-width: 2px;" width="600">
    <tr>
        <td style="border-style: solid; border-width: 1px;">
            <br /> Sayın {NAME} {SURNAME},<br /> <br />
        </td>
    </tr>
    <tr>
        <td>
            TGS E-Learning Eğitim Platformuna Hoş geldiniz.
            <br />
            <br />
            Sistem yöneticiniz tarafından aşağıdaki kullanıcı bilgilerinizle sisteme kaydınız yapılmıştır.
            <br />
            <br />
            <br />
            Kullanıcı Adı:{USERNAME}
            <br />
            <br />
            Şifre:{IDENTITYNUMBER}
            <br />
            <br />
            <br />
            Giriş Sayfasını ( http://academy.tgs.aero )  kullanarak size tanımlanan eğitimlere ulaşabilirsiniz.
            <br />
            <br />
            İyi eğitimler dileriz.
            <br />
            <br />
            Saygılarımızla,
            <br />
            <br />

            TGS EĞİTİM PLANLAMA
        </td>
    </tr>
</table> 

<br />
<br />
<br />
<br />
<table style="border-style: solid; border-width: 2px;" width="600">
   
    <tr>
        <td>
            {COURSENAME}
            <br />
            <br />
            TGS E-Learning Eğitim Platformuna Hoş geldiniz.
            <br />
            <br />
            TGS - {CDATE} etkinliği size atanmıştır. 
            <br />
            <br />
            Saygılarımızla,
            <br />
            <br />

            TGS EĞİTİM PLANLAMA
        </td>
    </tr>
</table> 